* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
  text-align: center;
}
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-bg {
  position: absolute;
  width: 90%;
  max-width: 500px;
  height: 70%;
  background: url(banner2.jpg) center/cover no-repeat;
  border-radius: 20px;
  filter: brightness(0.6);
}

.hero-content {
  position: relative;
  z-index: 2;
}
button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #00adb5;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
section {
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  transform: translateY(50px);
  opacity: 0;
  transition: 0.8s;
}

section.show {
  transform: translateY(0);
  opacity: 1;
}
.links a {
  display: block;
  margin: 10px auto;
  padding: 12px;
  max-width: 300px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background: linear-gradient(45deg, #3b82f6, #06b6d4);
  transition: 0.3s;
}

.links a:hover {
  transform: scale(1.05);
}
.btn {
  display: inline-block;
  padding: 12px 20px;
  background: linear-gradient(45deg, #f59e0b, #facc15);
  color: black;
  border-radius: 10px;
  text-decoration: none;
}
footer {
  padding: 15px;
  background: #020617;
}